<div class="banner text-center">
    <ul>
        <li><img src="https://dl.dropbox.com/s/fj1dhb7lawxhov5/Stories.png" /></li>
        <li><img src="https://dl.dropbox.com/s/fj1dhb7lawxhov5/Stories.png" /></li>
        <li><img src="https://dl.dropbox.com/s/fj1dhb7lawxhov5/Stories.png" /></li>
    </ul>
</div>
<div class="container-fluid project">
    <div class="row">
        <div class="col-md-4 proj-item">.col-md-4</div>
        <div class="col-md-4 proj-item">.col-md-4</div>
        <div class="col-md-4 proj-item">.col-md-4</div>
    </div>
</div>
