<!-- Header section -->
<div class="page-header">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brittany Arielle</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<!-- Main section -->
<div class="main container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
    		<p>I'm a web designer, mechanical engineer, and freelance artist based in Philadelphia. I'm looking for new learning experiences and to expand my web design portfolio.</p>
    		<a class="btn btn-info btn-lg" href="#" role="button">View My Work</a>
    </div>
  </div>
</div>
<!-- Footer section -->
<div class="page-footer text-center">
  <a class="btn btn-default btn-sm" href="#" role="button">GitHub</a>
  <a class="btn btn-default btn-sm" href="#" role="button">LinkedIn</a>
  <a class="btn btn-default btn-sm" href="#" role="button">Twitter</a>
  <p class="text-right copyright">&copy; 2015 Brittany Nutt</p>
</div>