// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// For Welcome page
.main {
    background: gray;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

//  For Portfolio page
// unslider
.banner { 
    position: relative;
    overflow: auto;
    background: #444;
}
.banner img {
    height: 500px;
    width: auto;
}

.banner li {
    list-style: none; 
}

.banner ul li { 
    float: left; 
}


// projects
.project {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.proj-item {
    padding: 20px;
}